---
---
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
	{% for post in paginator.posts %}
		<div class="col">
			<div class="card h-100">
				{% if post.image %}
					<img src="{{ post.image | relative_url }}" class="card-img-top" alt="{{ post.title }}">
				{% endif %}
				<div class="card-body">
					<h5 class="card-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h5>
					<p class="card-text"><small class="text-secondary">{{ post.date | date_to_string }} • {{ post.author }}</small></p>
					<p class="card-text">{{ post.excerpt | strip_html | truncate: 250 }}</p>
					<a href="{{ post.url | relative_url }}">Read More →</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
<div class="d-flex justify-content-between mt-3">
	<div>
		{% if paginator.previous_page %}
			<a class="button-link" href="{{ paginator.previous_page_path | relative_url }}">← Newer Posts</a>
		{% endif %}
	</div>
	<div>
		{% if paginator.next_page %}
			<a class="button-link" href="{{ paginator.next_page_path | relative_url }}">Older Posts →</a>
		{% endif %}
	</div>
</div>
