---
layout: page
title: The Adventures of Rickard Calvert
description: Follow the journey of Rickard Calvert, adventurer extraordinaire!
---
<h1>{{ page.title }}</h1>
<img src="https://staticdelivery.nexusmods.com/mods/1704/images/headers/52397_1725415004.jpg">
<p>Join adventurer extraordinaire Rickard Calvert as he treks across Tamriel with nothing but his trusty pocket knife, uncovering lost artifacts and wandering into places he definitely doesn’t belong. It’s all in a day’s work for the greatest adventurer in all of Mundus.</p>
<h2>Rickard Calvert in the Isles of Madness</h2>
<p>Follow Rickard as he ventures into the enigmatic Shivering Isles.</p>
  {% assign filtered_rickardcalvert = site.posts | where_exp: "post", "post.categories contains 'rickardcalvert'" %}
  {% assign filtered_posts = filtered_rickardcalvert | where_exp: "post", "post.categories contains 'ecss'" %}
  {% assign sorted_posts = filtered_posts | sort: "order" %}
  <div class="post-preview-grid">
    {% for post in sorted_posts %}
      <div class="post-preview-card">
        {% if post.image %}
          <img src="{{ post.image }}" alt="{{ post.title }}" class="post-preview-image">
        {% endif %}
        <div class="post-preview-content">
          <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          <p class="post-preview-meta">{{ post.date | date_to_string }} • {{ post.author }}</p>
          <p>{{ post.excerpt | strip_html | truncate: 250 }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read more →</a>
        </div>
      </div>
    {% endfor %}
  </div>
<!-- ## Rickard's Outtakes

<center><a href="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/refs/heads/main/assets/images/RickardCalvert/RickardMelonNose.png"><img src="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/refs/heads/main/assets/images/RickardCalvert/RickardMelonNose.png" 
     width="445" 
     height="250" /></a> <a href="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/refs/heads/main/assets/images/RickardCalvert/RickardAlwaysHasBeen.png"><img src="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/refs/heads/main/assets/images/RickardCalvert/RickardAlwaysHasBeen.png" 
     width="445" 
     height="250" /></a>
     
<a href="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/refs/heads/main/assets/images/RickardCalvert/RickardMexico.png"><img src="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/refs/heads/main/assets/images/RickardCalvert/RickardMexico.png" 
     width="445" 
     height="250" /></a> <a href="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/refs/heads/main/assets/images/RickardCalvert/RickardYeeHaw.png"><img src="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/refs/heads/main/assets/images/RickardCalvert/RickardYeeHaw.png" 
     width="445" 
     height="250" /></a></center>
-->
<hr>
