---
layout: page
title: The Adventures of Rickard Calvert
description: Follow the journey of Rickard Calvert, adventurer extraordinaire!
---
{% for post in site.posts %}
  {% if post.categories contains "rickardcalvert" %}
    <h1>{{ post.title }}</h1>
    {{ post.excerpt }}
    <hr>
    <span class="post-meta">
      {{ post.date | date_to_string }} • {{ post.author }}
      • <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Comments</a>
    </span>
  {% endif %}
{% endfor %}
