---
layout: default
title: Home
---
<div class="post-list">
  {% for post in site.posts %}
    {% if post.categories contains "blog" %}
      <div class="post-card">
        {% if post.image %}
          <img src="{{ post.image }}" alt="{{ post.title }}" class="post-image">
        {% endif %}
        <div class="post-card-content">
          <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          <p class="post-meta">{{ post.date | date_to_string }} • {{ post.author }}</p>
          <p>{{ post.excerpt | strip_html | truncate: 200 }}</p>
          <p><a class="read-more-link" href="{{ post.url | relative_url }}">Read more →</a></p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
