<!-- Begin Popups include -->
<div class="modal fade" id="popup404" tabindex="-1" aria-labelledby="popup404Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 500px;">
    <div class="modal-content bg-black text-light">
      <div class="modal-header">
        <h2 class="modal-title fs-4" id="popup404Title">404 ERROR</h2> <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-5">
        <p>This page may have moved or no longer exists.</p>
        <img class="img-fluid rounded" src="https://tatetayloroh.com/assets/img/pages/corgipictures/IMG_20250830_163028872_HDR2.jpg">
      </div>
    </div>
  </div>
</div>
<!-- Image preview modal -->
<div class="modal fade" id="imagePreviewModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content bg-dark border-0">
      <div class="modal-header border-0">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center pt-0">
        <img src="" id="modalPreviewImage" class="img-fluid rounded" alt="Preview image">
      </div>
    </div>
  </div>
</div>
<!-- End Popups include -->
