<nav class="col col-12 col-md-3 col-xl-2 bg-black navbar navbar-expand-md navbar-dark flex-md-column pt-md-0">
    <div class="container-fluid flex-md-column align-items-stretch sticky-top">
        <div class="d-none d-md-block my-3">
            <a href="{{ '/' | relative_url }}">
                <img class="img-fluid rounded" src="https://tatetayloroh.com/assets/img/logo.png"></img>
            </a>
        </div>
        <a class="navbar-brand" href="{{ '/' | relative_url }}"><h3 class="mb-0">Tate Taylor</h3></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="sidebarMenu">
            <ul class="navbar-nav flex-column w-100">
                <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Main Page</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/corgipictures' | relative_url }}">Corgi Pictures</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/rickardcalvert' | relative_url }}">Rickard Calvert</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/screenshotguide' | relative_url }}">Screenshot Guide</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/readme' | relative_url }}">About Me</a></li>
                <h5 class="text-light pt-3" id="mods-navigation">My Work</h5>
                <li class="nav-item"><a class="nav-link" href="https://www.nexusmods.com/profile/TateTaylorOH/">Nexus Mods</a></li>
                <li class="nav-item"><a class="nav-link" href="https://creations.bethesda.net/en/skyrim/all?author_displayname=TateTaylorOH">Bethesda.net</a></li>
                <li class="nav-item"><a class="nav-link" href="https://keiza.al/">Keizaal</a></li>
                <h5 class="text-light pt-3" id="socials-navigation">My Socials</h5>
                <li class="nav-item"><a class="nav-link" href="https://tatetayloroh.com/discord">Discord</a></li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/TateTaylorOH">GitHub</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.twitch.tv/tatetayloroh">Twitch</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/@TateTaylorOH">YouTube</a></li>
                <h5 class="text-light pt-3" id="contribute-navigation">Contribute</h5>
                <li class="nav-item"><a class="nav-link" href="https://ko-fi.com/tatetaylor">Buy Me a Coffee</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.patreon.com/TateTaylor">Become a Patron</a></li>
                <hr>
                <li class="nav-item nav-link disabled">&copy; <span id="currentYear"></span> Tate Taylor</li>
            </ul>
        </div>
        <div class="d-none d-md-block my-3">
            <a href="https://bethesda.net/en/article/5271cYpcXuSidnAKyJvxBI/monthly-modder-tatetaylorusa">
                <img class="img-fluid px-3" src="https://tatetayloroh.com/assets/img/branding/nexus/endorsements/bethesda/MonthlyModder.png" alt="Monthly Modder Banner">
            </a>
        </div>
    </div>
</nav>
