{% unless page.no_comments %}
  <hr>
  <div class="comments">
    <script src="https://utteranc.es/client.js"
            repo="{{ include.repo | default: site.utterances.repo | default: site.github.repository_nwo }}"
            issue-term="{{ page.title }}"
            theme="{{ include.theme | default: site.utterances.theme | default: 'github-light' }}"
            crossorigin="anonymous"
            async>
    </script>
    <noscript>
      <p>This page requires JavaScript to function. However, you can still view or leave comments <a href="https://github.com/TateTaylorOH/TateTaylorOH/issues/">on GitHub</a>.</p>
    </noscript>
  </div>
{% endunless %}
