<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="image" property="og:image" content="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/main/assets/images/ECLogoGladNoLogoRounded.png" />
{% seo %}
      <link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
      <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link rel="icon" href="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/main/assets/images/ECLogoGladNoLogoRounded.png"  type="image/x-icon" />
   </head>
   <body>
      <a id="skip-nav" href="#content">Skip navigation and jump to content</a>
      <div class="wrapper">
         <div id="sidebar">
            <nav aria-labelledby="socials-navigation">
               <h1 id="socials-navigation">My Socials</h1>
               <ul>
                  <li>
                     <a href="https://discord.gg/eYZJFP8">Discord</a>
                  </li>
                  <li>
                     <a href="https://github.com/TateTaylorOH">GitHub</a>
                  </li>
                  <li>
                     <a href="https://www.nexusmods.com/users/61720101">Nexus Mods</a>
                  </li>
                  <li>
                     <a href="https://www.reddit.com/user/TateTaylorOH">Reddit</a>
                  </li>
                  <li>
                     <a href="https://www.twitch.tv/TateTaylorOH">Twitch</a>
                  </li>
                  <li>
                     <a href="https://www.youtube.com/channel/UCJrDizmqxqo-v9yhEvcU59Q">YouTube</a>
                  </li>
               </ul>
            </nav>
            <nav aria-labelledby="contribute-navigation">
               <h1 id="contribute-navigation">Contribute</h1>
               <ul>
                  <li>
                     <a href="https://ko-fi.com/tatetaylor">Buy Me a Coffee</a>
                  </li>
                  <li>
                     <a href="https://www.patreon.com/user?u=16914107">Become a Patron</a>
                  </li>
               </ul>
            </nav>
            <aside class="top-patrons">
               <h1>Top-Tier Patrons</h1>
               <ul class="patron-list">
                  <li class="patron">
                     <span class="name">Dave Coleman</span>
                     <img src="https://c10.patreonusercontent.com/3/eyJ3IjoyMDB9/patreon-media/p/user/584051/1a6aec8ba88c47db9653e9d5b29f6354/1.jpg?token-time=2145916800&token-hash=bq2poXGDJtJsawiXMNF5OaTNUEpALHdE-v4gqPTIGLo%3D" />
                  </li>
                  <li class="patron">
                     <span class="name">Jeremy Sloane</span>
                     <img src="https://c10.patreonusercontent.com/3/eyJ3IjoyMDB9/patreon-media/p/user/61343361/07fe95f70b3a442db91e025b3105e5ec/1.jpg?token-time=2145916800&token-hash=knYCqOd6LFwa5lw8WL0lbTMz4BBj0tFO4q0pENQTufU%3D" />
                  </li>
                  <li class="patron">
                     <span class="name">Joey</span>
                     <img src="https://c10.patreonusercontent.com/4/patreon-media/p/user/25462713/c4c689648a9d4e4e83ca09f6466692a9/eyJ3IjoyMDB9/1.jpg?token-time=2145916800&token-hash=mcz1uSw6V7eI-SoAzwtbvnuabIBid2vHFcE-AfESyI0%3D" />
                  </li>
               </ul>
            </aside>
            <aside class="site-icons">
               <img class="project-icon"
                  src="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/master/assets/images/Profile%20Picture.jpg"
               <p>{{ default: site.github.project_tagline | site.github.project_tagline }}</p>
            </aside>
            <aside class="site-icons">
               <img class="project-icon"
                  src="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/main/assets/images/banners/MonthlyModderWhite.png"
               <p>{{ default: site.github.project_tagline | site.github.project_tagline }}</p>
            </aside>
         </div>
         <main>
           <header>
               <!--<h1>
                  <img alt="Tate Taylor"
                    src="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/master/assets/images/branding/YouTube%20Banner%20Just%20Mountains.png"
                  />
               </h1>-->
               <h1 style="font-size:50px;text-align:center;">Tate Taylor</h1>
            </header>
            <article id="content">
            {{ content }}
            </article>
         </main>
      </div>
   </body>
</html>
