<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}" data-bs-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		{% if page.image %}
		<meta property="og:image" content="{{ page.image }}" />
		{% else %}
		<meta property="og:image" content="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/main/assets/images/branding/WebsiteBanner.png" />
		{% endif %}
		{% seo %}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
		<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
		<meta name="google-site-verification" content="jSueJx3jsZPBZAXLoa0FslQH0cTCV6zv7iYh72gH0aA" />
		<link rel="icon" href="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/main/assets/images/ECLogoGladNoLogoRounded.png"  type="image/x-icon" />
	</head>
	<script>
	document.addEventListener('DOMContentLoaded', function() {
		var currentYear = new Date().getFullYear();
	document.getElementById('currentYear').textContent = currentYear;
	});
	document.addEventListener("DOMContentLoaded", () => {
		const params = new URLSearchParams(window.location.search);
		const source = params.get("from");
		const modals = {404: "popup404"};
		if (modals[source]) {
			const modal = new bootstrap.Modal(
				document.getElementById(modals[source])
			);
			modal.show();
			history.replaceState({}, "", window.location.pathname);
		}
	});
	</script>
	<body>  
		<div class="container-fluid text-light">
		    <div class="row">
				<!-- Popup Component -->
				<div class="modal fade" id="popup404" tabindex="-1" aria-labelledby="popup404Title" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 500px;">
						<div class="modal-content bg-black text-light">
							<div class="modal-header">
								<h2 class="modal-title fs-4" id="popup404Title">404 ERROR</h2>
							</div>
							<div class="modal-body fs-5">
								<p>This page may have moved or no longer exists.</p>
								<img class="img-fluid rounded" src="https://tatetayloroh.com/assets/images/corgipics/IMG_20250830_163028872_HDR2.jpg">
							</div>
							<div class="modal-footer">
								<a href="#" data-bs-dismiss="modal" onclick="event.preventDefault();"><b>Close</b></a>
							</div>
						</div>
					</div>
				</div>
		        <!-- Navigation Component -->
		        <nav class="col col-12 col-md-3 col-xl-2 bg-black navbar navbar-expand-md navbar-dark flex-md-column pt-md-0">
		            <div class="container-fluid flex-md-column align-items-stretch sticky-top">
						<div class="d-none d-md-block my-3">
							<a href="{{ '/' | relative_url }}">
								<img class="img-fluid rounded" src="https://tatetayloroh.com/assets/images/branding/Gladys.png"></img>
							</a>
						</div>
		                <a class="navbar-brand" href="{{ '/' | relative_url }}"><h3 class="mb-0">Tate Taylor</h3></a>
		                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">
		                    <span class="navbar-toggler-icon"></span>
		                </button>
		                <div class="collapse navbar-collapse" id="sidebarMenu">
		                    <ul class="navbar-nav flex-column w-100">
		                        <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Main Page</a></li>
		                        <li class="nav-item"><a class="nav-link" href="{{ '/corgipictures' | relative_url }}">Corgi Pictures</a></li>
								<li class="nav-item"><a class="nav-link" href="{{ '/rickardcalvert' | relative_url }}">Rickard Calvert</a></li>
								<li class="nav-item"><a class="nav-link" href="{{ '/screenshotguide' | relative_url }}">Screenshot Guide</a></li>
								<li class="nav-item"><a class="nav-link" href="{{ '/readme' | relative_url }}">About Me</a></li>
								<h5 class="text-light pt-3" id="mods-navigation">My Work</h5>
		                        <li class="nav-item"><a class="nav-link" href="https://www.nexusmods.com/profile/TateTaylorOH/">Nexus Mods</a></li>
		                        <li class="nav-item"><a class="nav-link" href="https://creations.bethesda.net/en/skyrim/all?author_displayname=TateTaylorOH">Bethesda.net</a></li>
								<li class="nav-item"><a class="nav-link" href="https://keiza.al/">Keizaal</a></li>
								<h5 class="text-light pt-3" id="socials-navigation">My Socials</h5>
								<li class="nav-item"><a class="nav-link" href="https://tatetayloroh.com/discord">Discord</a></li>
		                        <li class="nav-item"><a class="nav-link" href="https://github.com/TateTaylorOH">GitHub</a></li>
								<li class="nav-item"><a class="nav-link" href="https://www.twitch.tv/tatetayloroh">Twitch</a></li>
								<li class="nav-item"><a class="nav-link" href="https://www.youtube.com/@TateTaylorOH">YouTube</a></li>
								<h5 class="text-light pt-3" id="contribute-navigation">Contribute</h5>
		                        <li class="nav-item"><a class="nav-link" href="https://ko-fi.com/tatetaylor">Buy Me a Coffee</a></li>
		                        <li class="nav-item"><a class="nav-link" href="https://www.patreon.com/TateTaylor">Become a Patron</a></li>
								<hr>
								<li class="nav-item nav-link disabled">&copy; <span id="currentYear"></span> Tate Taylor</li>
							</ul>
		                </div>
						<div class="d-none d-md-block my-3">
							<a href="https://bethesda.net/en/article/5271cYpcXuSidnAKyJvxBI/monthly-modder-tatetaylorusa">
								<img class="img-fluid px-3" src="https://tatetayloroh.com/assets/images/banners/MonthlyModderWhite.png" alt="Monthly Modder Banner">
							</a>
						</div>
		            </div>
		        </nav>
		        <!-- Main Content -->
		        <main class="col col-12 col-md-9 col-xl-10 p-0 ms-md-auto">
		            <div class="container py-4 pb-5">
					<header class="d-none d-md-block">
						<img class="img-fluid rounded mb-2" alt="Tate Taylor" src="https://raw.githubusercontent.com/TateTaylorOH/TateTaylorOH/main/assets/images/branding/WebsiteBanner.png"/>
		            </header>
		            <article id="content">
					{% if page.title %}
					<h1>{{ page.title }}</h1>
					<hr>
					{% endif %}
		            {{ content }}
		            </article>
					</div>
		        </main>
		    </div>
		</div> 
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>
</html>
