---
layout: default
---
<article class="page">
  <div class="page-content">
    {{ content }}
  </div>

  <hr>

  <!-- Comments Section -->
  <div class="page-comments">
    <script src="https://utteranc.es/client.js"
            repo="{{ include.repo | default: site.utterances.repo | default: site.github.repository_nwo }}"
            issue-term="{{ page.title }}"
            theme="{{ include.theme | default: site.utterances.theme | default: 'github-light' }}"
            crossorigin="anonymous"
            async>
    </script>
    <noscript>
      <p>
        This page requires JavaScript to function. However, you can still read comments
        <a href="https://github.com/TateTaylorOH/TateTaylorOH/issues/">on GitHub</a>.
      </p>
    </noscript>
  </div>
</article>
