---
layout: default
---
<h1>{{ page.title }}</h1>
{{ content }}
<hr>
<span class="post-meta">
  <p style="text-align:left;">
    <b>{{ page.date | date_to_string }} • {{ page.author }}</b>
    <span style="float:right;">
      <a class="button-link" onclick="copyToClipboard('{{ page.url | absolute_url }}')">Share</a> 
      <a class="button-link" href="javascript:history.back()">Back</a>
    </span>
  </p>
</span>
  
<script src="https://utteranc.es/client.js"
        repo="{{ include.repo | default: site.utterances.repo | default: site.github.repository_nwo }}"
        issue-term="{{ page.title }}"
        theme="{{ include.theme | default: site.utterances.theme | default: 'github-light' }}"
        crossorigin="anonymous"
        async>
</script>
<noscript>
<p>
   This page requires JavaScript to function. However, you should still be able to read comments 
   <a href="https://github.com/TateTaylorOH/TateTaylorOH/issues/">hosted on Github</a>.
</p>
</noscript>
