---
layout: default
---
<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="post-content">
    {{ content }}
  </div>

  <hr>

  <div class="post-meta">
    <span>{{ page.date | date_to_string }} • {{ page.author }}</span>
    <button class="button-link" onclick="copyToClipboard('{{ page.url | absolute_url }}')">Share</button>
  </div>

  <!-- Comments Section -->
  <script src="https://utteranc.es/client.js"
          repo="{{ include.repo | default: site.utterances.repo | default: site.github.repository_nwo }}"
          issue-term="{{ page.title }}"
          theme="{{ include.theme | default: site.utterances.theme | default: 'github-light' }}"
          crossorigin="anonymous"
          async>
  </script>
  <noscript>
    <p>
      This page requires JavaScript to function. However, you can still view and write comments
      <a href="https://github.com/TateTaylorOH/TateTaylorOH/issues/">on GitHub</a>.
    </p>
  </noscript>

  <div class="post-footer-nav">
    <a href="{{ '/' | relative_url }}" class="read-more-link">← Back to Blog</a>
  </div>
</article>
